<h1>LaunchPosts</h1>

  <div class="language">
    <a href="/posts/ruby">Check out all things Ruby!</a>
  </div>

  <div class="language">
    <a href="/posts/html_css">Check out all things HTML & CSS!</a>
  </div>

  <div class="language">
    <a href="/posts/javascript_jquery">Check out all things Javascript & jQuery!</a>
  </div>

  <div class="language">
    <a href="/posts/sql">Check out all things SQL!</a>
  </div>

  <div class="language">
    <a href="/posts/misc">Check out all other things!</a>
  </div>

  <div class="new_post">
    <a href="/posts/new">Add a new LaunchPost!</a>
  </div>
