 <div class="topic_post">
    <div class="topic_header">
      Browse all topics
    </div>
    <% topics.each do |topic| %>
    <div class="post_title">
      <a href="/posts/<%= topic["id"] %>"><%= "#{topic["topic"]}" %></a>
    </div>
    <% end %>
  </div>


