<div class="topic_post">
  <div class="topic_header">
    Add a new LaunchPost!
  </div>

  <div class="errors">
    <% unless errors.empty? %>
      <% errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div class="form">
    <form id="new_post" action="/posts/new" method="post">
    <div class="row collapse">
      <div class="small-5 large-3 columns">
        <select id="topic" name="topic">
          <option value="1">Ruby</option>
          <option value="2">HTML/CSS</option>
          <option value="3">Javascript/jQuery</option>
          <option value="4">SQL</option>
          <option value="5">Misc</option>
        </select>
      </div>

      </br></br></br>

      <label for="title">Post Title:</label>
      <div class="small-5 large-10 columns">
        <input type="text" id="title" name="title" value="<%= params["title"] %>">
      </div>

    </br></br></br>

      <label for="url">Post URL:</label>
      <div class="small-1 large-2 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-5 large-8 columns">
        <input type="text" id="url" name="url" value="<%= params["url"] %>">
      </div>

    </br></br></br>

      <label for="description">Post Description:</label>
      <div class="small-9 large-10 columns">
        <input type="text" id="description" name="description" value="<%= params["description"] %>">
      </div>

    </br></br></br>
      <div class="submit_button">
        <input type="submit">
      </div>
    </form>
    </div>
  </div>
</div>
