<!-- <div class="language_post">
  <% ruby.each do |post| %>
    <div class="post_title"><%= "#{post["title"]}" %></div>
    <div class="post_url"><a href="<%= post["url"] %>"><%= "#{post["url"]}" %></a></div>
    <div class="post_desc"><%= "#{post["description"]}" %></div>
  </br>
  <% end %>
</div>
 -->

 <form>
  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">http://</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" placeholder="Enter your URL...">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-2 columns">
          <label class="title description">LaunchPost Description</label>
        </div>
        <div class="small-10 columns">
          <input type="text" placeholder="Hex Value">
        </div>
      </div>
    </div>
  </div>

  </form>